body{

background-image: url(../imagenes/fondo1.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
background-attachment: fixed;
}

.texto h2{

    text-align: center;
    position: absolute;
    font-size: 4em;
    font-family: 'Anton', sans-serif;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    padding-top: 16%;
}

.texto h6{

    text-align: center;
    position: absolute;
    font-size:  1em;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.226);
    width: 100%;
    height: 100%;
    padding-top: 11%;
}

.boton-log{
    
    position: absolute;
    width: 30%;
    top: 65%;
    left: 35%;

}
.boton-regis{
    position: absolute;
    width: 30%;
    top: 73%;
    left: 35%;
}

em{
    font-family: 'Anton', sans-serif;
    color:rgb(174, 232, 255);
}
