<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="imagenes/edificios.ico">
  <title>Portal Principal</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="css/inicio.css" rel="stylesheet">

  <!-- Additional CSS Files -->

  <link rel="stylesheet" href="css/templatemo-eduwell-style.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <script src="https://kit.fontawesome.com/1bf732dfb3.js" crossorigin="anonymous"></script>
  <title>Inicio</title>


</head>

<body>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="inicio" class="logo">
              <img src="imagenes/web.png" alt="WEB HOUSE">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li><a href="inicio" class="active">Inicio</a></li>
              <li><a href="servicios">Servicios</a></li>
              <li class=><a href="Contactos">Noticias</a></li>
              <li class="has-sub">
                <a href="javascript:void(0)">Opciones</a>
                <ul class="sub-menu">
                  <li><a href="#">Perfil</a></li>
                  <li><a href="loguin">Cerrar Sesion</a></li>

                </ul>
              </li>

            </ul>

            <a class='menu-trigger'>
              <span>Menu</span>
            </a>

            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>

    </div>
  </header>
  <div class="fondo">
    <div class="sobrefondo">
      <div class="titulo">
        <b>
          <h1> HECHO PARA TÍ</h1>
        </b>
        <br>
        <h5>En Web-House encontraras todo lo que necesitas para poder solucionar tus problemas <br>
          desde tu apartamento,hasta toda tu copropiedad.
        </h5>
      </div>
    </div>
    <div>
      <video muted autoplay loop>
        <source src="imagenes/video_AdobeExpress.mp4">
      </video>
      <div class="svg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
          <path fill="#ffff" fill-opacity="1"
            d="M0,96L48,112C96,128,192,160,288,149.3C384,139,480,85,576,90.7C672,96,768,160,864,165.3C960,171,1056,117,1152,90.7C1248,64,1344,64,1392,64L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
          </path>
        </svg>
      </div>
    </div>
  </div>
  <div class="titulo2">
    <div class="conten2">
      <h1 id="h1">INFORMACIÓN DEL CONJUNTO <br> A TU ALCANCE</h1>
    </div>
  </div>
  <section class="contador_p">
    <div class="contador">
      <i class="fa-sharp fa-solid fa-building fa-3x "></i>
      <div class="cont_cant">300</div>
      <h6>Apartamentos</h6>
    </div>
    <div class="contador">
      <i class="fa-solid fa-car fa-3x"></i>
      <div class="cont_cant">100</div>
      <h6>Parqueadero privados</h6>
    </div>
    <div class="contador">
      <i class="fa-sharp fa-solid fa-users fa-3x"></i>
      <div class="cont_cant">50</div>
      <h6>parqueadero vicitantes</h6>
    </div>
    <div class="contador">
      <i class="fa-sharp fa-solid fa-dumbbell fa-3x"></i>
      <div class="cont_cant">15</div>
      <h6>Gimnasios</h6>
    </div>

    </div>
  </section>
  <section class="info">
    <div class="row row-cols-1 row-cols-md-3 g-4 ">
      <div class="col">
        <div class="card  border border-dark ">
          <img src="imagenes/card.jpg " class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">TENENCIA DE MASCOTAS</h5>
            <p>
              <a class="btn btn-primary" data-bs-toggle="collapse" href="#MASCOTAS" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                Info <i class="fa-solid fa-circle-info"></i>
              </a>
            <div class="collapse" id="MASCOTAS">
              <div class="card card-body border border-info  ">
                Esta Prohibido permitir que los animales orinen en las zonas verdes del conjunto o que hagan sus
                necesidades en zonas comunales y sótanos. Ceder el uso de los ascensores a los residentes, y no se podrá
                hacer uso del ascensor simultáneamente con la mascota.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card  border border-dark ">
          <img src="imagenes/cardparqueadero.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">VELOCIDAD EN PARQUEADEROS</h5>
            <p>
              <a class="btn btn-primary" data-bs-toggle="collapse" href="#PARQUEADEROS" role="button"
                aria-expanded="false" aria-controls="collapseExample">
                Info <i class="fa-solid fa-circle-info"></i>
              </a>
            <div class="collapse" id="PARQUEADEROS">
              <div class="card card-body border border-info  ">
                La velocidad máxima permitida será de 10 kilómetros por hora y el transito se hará por el lado derecho.
                Donde haya un desnivel del piso, el automotor que sube tiene prelación al que está bajando. El parqueo
                se hará siempre en reversa. </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card  border border-dark ">
          <img src="imagenes/cardmercado.jpg" class="card-img-top" alt="...">
          <div class="card-body ">
            <h5 class="card-title">USO CARROS DE MERCADO</h5>
            <p>
              <a class="btn btn-primary" data-bs-toggle="collapse" href="#MERCADO" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                Info <i class="fa-solid fa-circle-info"></i>
              </a>
            <div class="collapse" id="MERCADO">
              <div class="card card-body border border-dark  ">
                No haga uso de ellos para cargar elementos de construcción o trasteos. Evite golpear el ascensor y las
                paredes con los bordes el carro. Haga uso de él en el menor tiempo posible. Una vez se haya terminado su
                uso dejarlo en el mismo lugar donde fue encontrado. </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-manual">
    <div class="card infoMA  border-dark   " style="width: 700px;">
      <div class="card-body text-dark ">
        <h5 class="card-title" style="text-align: center;">CONOZCA EL MANUAL DE CONVIVENCIA. </h5>
        <p class="card-text text-dark ">Descargue nuestro manual de convivencia para que este enterado de nuestras normas
          y derechos en la copropiedad </p>
        <br>
        <a href="pdf/DOC PDF EJEMPLO.pdf" class="btn btn-primary " download="Manual de convivencia.pdf">Download <i
            class="fa-sharp fa-regular fa-file"></i></a>
      </div>
    </div>
  </section>
  <div class="svg2">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#13547a" fill-opacity="1"
        d="M0,96L48,112C96,128,192,160,288,149.3C384,139,480,85,576,90.7C672,96,768,160,864,165.3C960,171,1056,117,1152,90.7C1248,64,1344,64,1392,64L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
      </path>
    </svg>
  </div>
  <section>
    <div class="clasificados">
    <h2 id="h2">CLASIFICADOS</h2>
    <h5> <b> ¿Vendes algo?</b> Aprovecha este espacio para publicar <br> tu producto o emprendimiento. </h5>
  </div>
  </section>
  <section class="bac">
    <div>
      <div class="col-lg-12">
        <p class="copyright">Copyright © 2023 WEB HOUSE CoL.Ltd. All Rights Reserved.</p>
      </div>
    </div>
  </section>



  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="jquery/jquery.min.js"></script>
  <!-- <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/bootstrap.js"></script> -->
  <script src="js/animar.js"></script>
  <script src="js/isotope.min.js"></script>
  <script src="js/owl-carousel.js"></script>
  <script src="js/lightbox.js"></script>
  <script src="js/tabs.js"></script>
  <script src="js/video.js"></script>
  <script src="js/slick-slider.js"></script>
  <script src="js/custom.js"></script>
  <script>
    //according to loftblog tut
    $('.nav li:first').addClass('active');

    var showSection = function showSection(section, isAnimate) {
      var
        direction = section.replace(/#/, ''),
        reqSection = $('.section').filter('[data-section="' + direction + '"]'),
        reqSectionPos = reqSection.offset().top - 0;

      if (isAnimate) {
        $('body, html').animate({
          scrollTop: reqSectionPos
        },
          800);
      } else {
        $('body, html').scrollTop(reqSectionPos);
      }

    };

    var checkSection = function checkSection() {
      $('.section').each(function () {
        var
          $this = $(this),
          topEdge = $this.offset().top - 80,
          bottomEdge = topEdge + $this.height(),
          wScroll = $(window).scrollTop();
        if (topEdge < wScroll && bottomEdge > wScroll) {
          var
            currentId = $this.data('section'),
            reqLink = $('a').filter('[href*=\\#' + currentId + ']');
          reqLink.closest('li').addClass('active').
            siblings().removeClass('active');
        }
      });
    };

    $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
      e.preventDefault();
      showSection($(this).attr('href'), true);
    });

    $(window).scroll(function () {
      checkSection();
    });
  </script>
</body>

</html>