<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="icon" href="imagenes/edificios.ico">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">


    <title>Registro</title>
  </head>
  <body>
    <section class="vh-100" id="fondo">
      <div class="negro">
      <div class="container py-8 h-100" >
        <div class="row d-flex justify-content-center align-items-center h-100" >
          <div class="col col-xl-10" id="cont">
            <div class="card" style="border-radius: 1rem;" id="bgn">
              <div class="row g-0">
                <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="imagenes/pexels-ketut-subiyanto-4245923.jpg"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                  <form class=" row g-3" method="post" action="/save">

                    <div class="d-flex align-items-center mb-3 pb-1">
                      <span class="h1 fw-bold mb-0">Web-<em>House</em></span>
                    </div>

                    <h5 class="fw-normal colore" style="letter-spacing: 1px;">Registra tu cuenta </h5>
                    <div class="col-12 ">
                      <input type="text" class="form-control" id="cedula" name="cedula" placeholder="Cedula"  required="">
                    </div>
                    <div class="col-6 ">
                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" required="">
                    </div>
                    <div class="col-6 ">
                      <input type="text" class="form-control"  id="apellido" name="apellido" placeholder="Apellido"  required="">
                    </div>
                    <div class="col-6 ">
                      <input type="email" class="form-control" id="correo" name="correo" placeholder="Correo"  required="">
                    </div>
                    <div class="col-6 ">
                      <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Telefono"  required="">
                    </div>
                     <div class="col-6 ">
                      <input type="text" class="form-control" id="nombuser" name="nombuser" placeholder="Nombre Usuario"  required="">
                    </div>
                    <div class="col-6 ">
                      <input type="password" class="form-control" id="pass" name="pass" placeholder="Contrasena"  required="">
                    </div>
                 
                      <div class="col-12">
                          <select class="form-select" id="rol" name="rol">
                              <option value="usu">Usuario</option>
                              </select>
                       </div>
                       <div class="pt-1" >
                        <button class="btn btn-primary" type="submit">Registrar</button>
                     </div>
                    
                  </form>

                  <script>
                    function myFunction() {
                      const x = document.getElementById("myInput");
                      if (x.type === "password") {
                        x.type = "text";
                      } else {
                        x.type = "password";
                      }
                    }
                 </script>

                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
    </section>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>