<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="imagenes/edificios.ico">
  <title>Portal Principal</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="css/inicio.css" rel="stylesheet">

  <!-- Additional CSS Files -->

  <link rel="stylesheet" href="css/templatemo-eduwell-style.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <script src="https://kit.fontawesome.com/1bf732dfb3.js" crossorigin="anonymous"></script>
  <title>Inicio</title>


</head>

<body>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="inicio" class="logo">
              <img src="imagenes/web.png" alt="WEB HOUSE">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li><a href="inicio" class="active">Inicio</a></li>
              <li><a href="servicios">Servicios</a></li>
              <li class=><a href="Contactos">Noticias</a></li>
              <li class="has-sub">
                <a href="javascript:void(0)">Opciones</a>
                <ul class="sub-menu">
                  <li><a href="#">Perfil</a></li>
                  <li><a href="loguin">Cerrar Sesion</a></li>

                </ul>
              </li>

            </ul>

            <a class='menu-trigger'>
              <span>Menu</span>
            </a>

            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>

    </div>
  </header>